body {
  font-size: 14px;
}

.app-body {
  &.app-body--landing {
    padding: $spaceSm;

    .tool {
      display: inline-block;
      width: 50%;
    }
  }
}

.display-hover {
  display: none;
  &:hover {
    display: inline;
  }
}
