$headings-font-family: 'DM Sans', sans-serif;

$fontSize: 14px;
$fontSizeSm: 8px;
$fontSizeLg: 20px;
$spaceSm: 0.5rem;
$spaceMd: 1rem;
$spaceLg: 1.5rem;
// background login
$light: #f6f7f9;
$gray: #7d7f8e;
$grey: #808292;
$primary: #5dd2c1 !default;
$blue-background: #50d2c2 !default;
$dark-background: #454553 !default;
$dark-background-1: #5e5e72 !default;
$dark-blu: #0f0347 !default;
$dark-violet: #2c215d !default;
$dark-shadow: #31313b !default;
$blue-text-input: #4b928f;
$white-login: #f6f7f9;
$blue-text-forgot-password: #325ae7;
$dark-blu-login: #1b1d2a;
$light-black: #808292;
$light-green: #2fefd7;
$success-green: #31ba7e;
$neon-green: #5dd2c1;
$light-yellow: #fbe8b4;
$yellow: #f2c94c !default;
$light-red: #fbb2b7;
$red: #eb5757 !default;
