#root {
    box-sizing: border-box;
    overflow: hidden;
}


body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
    user-select: none
}

a{
 text-decoration: none;   
}

.navbar-header {
  background-color: #33333369;
  margin: auto;
  padding: 8px 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 100;
  width: 100%;
}
.circle-sg{
    width: 339px;
    height: 339px;
}

.navbar-brand {
    flex: 1 1;
    padding: 0;
    margin: 0
}

.brand-icon {
    width: 127px;
    height: 50px;
}

.social-icons {
    display: inline-flex;
    flex-direction: row;
    margin-right: 2rem;
}

.social-icon {
    width: 100%;
}

.social-icon:hover {
    background: rgba(0, 0, 0, .1411764705882353);
    border-radius: 50%;
    transform: scale(1.05);
}

.header-button {
    cursor: pointer;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 24px;
    padding: 12px 36px;
    display: inline-flex;
    white-space: pre;
    justify-content: center;
    background-color: #ba1f1b;
    border-radius: 4px;
    align-items: center;
}

.header-button,
.header-button:active,
.header-button:focus,
.header-button:hover {
    border: none !important;
    color: #ffffff;
    transition: all .2s ease-in-out
}

.header-button:active,
.header-button:focus,
.header-button:hover {
    box-shadow: none !important;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: drop-shadow(1px 1px 3px #000);
    filter: drop-shadow(1px 1px 3px black)
}
.nav-link {
    display: block;
    padding: .5rem 1rem
}

.nav-link:focus,
.nav-link:hover {
    text-decoration: none
}

.nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default
}

.navbar-collapse{
    display: flex;
    flex: 9 9;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-evenly; 
    align-items: center;
}

.pages-nav__group {
    display: flex;
    width: 60%;
    justify-content: space-between;
    padding: 0 1rem;
}

.pages-nav__group--item {
    font-style: normal;
    font-weight: 700;
    font-size: min(2.1rem, 1.5vw);
    line-height: 3.3rem;
    margin: 0;
    border-radius: 100px;
    color: #fff;
    padding: 2px 2.4rem
}

.selected {
    color: #ba1f1b;
    background: hsla(0, 0%, 100%, .8)
}

.dropdown-divider {
    width: 100vw
}

.active{
    background-color: #fff;
    color: #ba1f1b;
}


.container{
    width: 100%;
    box-sizing: border-box;
}

.banner,.banner-about{
    background-image: url('/static/images/banner.jpg');
    height: 1150px;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-wrapper{
    width: 70%;
    margin: auto;
    box-sizing: border-box;
}

.body-contact{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex:5 5;
    margin-top: 100px;
}
.contact-left{
    width: 50%;
}

.left-title{
    font-weight: 700;
    font-size: 32px;
    color: #ba1f1b;
}

.left-des{
    margin-top: 16px;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: #333333;
}
.contact-right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.contact-group{
    width: 80px;
    display: block;
    margin-left: 60px;
}
.contact-group--img{
    width: 100%;
    height: 80px;
}
.contact-group--text{
    text-align: center;
    color: #ba1f1b;
    font-weight: 700px;
    font-size: 24px;
}
.body-about{
    margin-top: 100px;
    width: 100%;
}

.about-title{
    display: flex;
    justify-content: center;
}

.img-user{
    height: 456px;
    margin-top: 120px;
}

.image-title-about{
    margin: auto;
}

.about-des{
    margin-top: 70px;
}

.about-first{
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-right{
    margin-left: 50px;
}


.first-title{
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    text-transform: uppercase;
}

.first-des{
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

.image-title-about{
    margin: auto;
}

.body-play{
    margin-top: 190px;
}
.play-des{
    margin-top: 65px;
    display: flex;
}
.play-first,.play-second,.play-final{

    position: relative;
    width: 33%;
}
.image-circle{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}
.circle{
    position: relative;
    margin-top: 40px;
    margin-left: 35px;
    width: 265px;
    height: 265px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.circle-title{
    font-weight: 700;
    font-size: 40px;
    font-style: normal  ;
}
.number-one{
    width: 80px;
    height: 80px;
    font-weight: 700;
    font-size: 32px;
    background-color: #00c3f6;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-dark-blue{
    background-color: #4b3ad1;
}

.color-yellow{
    background-color: #ffaa00;
}

.body-ntf,.body-sale,.body-roadmap{
    margin-top: 200px;
}
.ntf-des p{
    color: #333333;
    font-weight: 400;
    font-size: 24px;
}
.ntf-card{
    width: 100%;
    border-radius: 16px;
    border-style:double;
    border-color: #ba1f1b;
    display: flex;
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0 0 5px #e78682d5, 0 0 5px #e78682d5;
}
.ntf-card img{
    width: 250px;
    height: 350px;
}
.sale-des{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.sale-round{
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 80px;
}
.sale-round img{
    width: 100%;
}
.sale-time{
    margin-top: 40px;
    text-align: center;
    width: 100%;
    font-weight: 400;
    font-size: 24px;
}
.th-font-w-5{
    font-weight: 700;
    font-size: 32px;
}

.promotion-time {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.promotion-time .time__group {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 0 12px;
    -webkit-align-items: center;
    align-items: center;
    padding-bottom: 0
}

.promotion-time .time__group .time__group-number {
    border: 2px solid #bdbdbd;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 4rem;
    color: #ba1f1b;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.promotion-time .time__group .time__group-type {
    padding: 8px;
    font-size: 1.8rem;
    line-height: 3.2rem;
    text-align: center
}
.sale-pack{
    margin-top: 90px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap:40px;
}
.sale-pack .pack__group{
    display: flex;
    align-items: center;
    
}
.sale-pack .pack__group .pack__group-image{
    margin-right: 40px;
}
.sale-pack .pack__group .pack__group-info{

}
.sale-pack .pack__group .pack__group-info .pack__info-title{
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 16px;
    color: #ba1f1b;
}
.sale-pack .pack__group .pack__group-info .pack__info-available{
    padding: 4px 16px;
    border-radius: 40px;
    background-color: rgba(255, 155, 152, 0.2);
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #333333;
}
.sale-pack .pack__group .pack__group-info .pack__info-tool{
    font-weight: 700;
    font-size: 24px;
    margin-top: 16px;
}

.sale-pack .pack__group .pack__group-info .pack__info-common,.pack__info-uncommon,.pack__info-rate,.pack__info-classic{
    font-weight: 400;
    font-size: 24px;
    margin-top: 16px;
}

.sale-market{
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.sale__market-button{
    padding: 8px 80px;
    color: #ba1f1b;
    font-weight: 600;
    font-size: 40px;
    border: 1px solid #ba1f1b;
    border-radius: 8px;
    display: inline-block;
}
.roadmap-des{
    margin-top: 80px;
}
.roadmap-des .roadmap-current{
    display: flex;
}

.roadmap-des .roadmap-current .roadmap__current-left{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.roadmap-des .roadmap-current .roadmap__current-right{
    width: 50%;
}
.roadmap-des .roadmap-current .roadmap__current-right{
    position: relative;
}
.roadmap__current-des{
    position: absolute;
    top: 125px;
    left: 80px;
}
.roadmap-des .roadmap-current .roadmap__current-right .current__des-title{
    font-weight: bold;
    font-size: 32px;
}
.roadmap-des .roadmap-current .roadmap__current-right .current__des-des{
    font-style: normal;
    font-size: 32px;
    margin: 8px 0;
}
.coming{
    text-align: right;
    right: 80px;
}
.coming-right{
    display: flex;
    justify-content: flex-end;
}
.coming-des{
    font-size: 24px !important;
}
.coming-left{
    justify-content: flex-start !important;
}
.footer{
    background-image: url('/static/images/footer.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 950px;
    background-size: cover;
    margin-top: 200px;
    position: relative;
    color: #fff;
}
.footer .footer-info{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 130px;
    align-items: center;
}
.footer-info-ab{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#f8feff 0%,#333333 100%);
    opacity: 0.6;
    top: 0;
    left: 0;
}

.footer-text-bold{
    font-weight: 800;
    font-size: 24px;
}

.footer-text-normal{
    font-weight: 400;
    font-size: 24px;
}

.mb-8{
    margin-bottom: 8px !important;
}
.mr-8{
    margin-right: 8px !important;
}
.footer-mid__right--item:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer
}

.banner-about{
    background-image: url('/static/images/banner-2.jpeg');
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 800px;
    position: relative;
}
.story{
    background: url('/static/images/khung.png') no-repeat;
    background-size: contain;
    font-weight: 800;
    font-size: 4rem;
    line-height: 8rem;
    color: #fff6d9;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    margin-bottom: 3.2rem;
    height: 14rem;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    width: 680px;
    height: 90px;
}
.mo{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 45.31%, rgba(255, 255, 255, 0) 100%);
transform: rotate(180deg);
}

.mt-na-10{
    margin-top: -100px;
    background-color: #fff;
}

.about-title{
    font-weight: 800;
    font-size: 40px;
    color: #ba1f1b;
    text-align: center;
    line-height: 54px;
}
.about-des{
    font-weight: 400;
    font-size: 24px;
    text-align: justify;
    line-height: 32px;
}

.card{
    margin-bottom: 16px;
    border: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    color: #333;
    transition: all .2s ease-in-out;

}
.card-header{
    border-radius: 8px;
    background: #faf6f9;
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
    padding: 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.collapse{
    font-size: 24px;
    line-height: 32px;
    padding: 0px 0px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    visibility: hidden;
    display: none;
}
.activeS .collapse{
    opacity: 1;
    height: auto;
    padding: 8px 16px;
    height: auto;
    display: block;
    visibility: visible;
}
.card-header img{
    transition: all 0.5s;
}
.activeS .card-header img{
    transform: rotate(180deg);
}

.toggle-menu{
    background-image: url(/static/images/toggle.png);
    width: 15px;
    height: 15px;
    display: none;
}
.play{
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: none;
    cursor: pointer;
}
.play:hover{
    transform: scale(1.5);
}
.activeM{
    height: auto !important;
    opacity: 1 !important;
    visibility: visible !important;
    padding: 10px 0 !important;
}

@media screen and (max-width:414px) {
    .navbar-header{
        padding: 4px 16px;
        justify-content: space-between;
        overflow: hidden;
    }
    .toggle-menu{
        display: block;
    }
    .pages-nav__group{
        display: none;
    }
    .header-button{
        display: none;
    }
    .brand-icon{
        width: 85px;
        height: 35px;
    }
    .navbar-collapse{
        flex: none;
        justify-content: unset;
    }
    .social-icon{
        width: 22px;
        height: 22px;
    }
    .nav-link{
        padding: 0 .5rem;
    }
    .banner-about{
        background-image: url('/static/images/banner-mo.png');
        height: 181px;
    }
    .banner{
        background-image: url('/static/images/banner2-mo.png');
        height: 610px;
        
    }
    .mo{
        height: 60px;
    }
    .story{
        background: url(/static/images/khung-mo.png) no-repeat;
        background-size: contain;
        font-size: 22px;
        width: 217px;
        height: 36px;
        margin-bottom: 1.5rem;
    }
    .body-wrapper{
        width: 80%;
    }
    .card-header,.collapse{
        font-size: 13px;
    }
    .card-header{
        padding: 7px 9px;
    }
    .footer{
        margin-top: 50px;
        background-image: url(/static/images/footer-mo.png);
    }
    .footer .footer-info{
        flex-direction: column;
        justify-content: center;
        padding: 0 24px;
    }
    .footer__info-right{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer-text-bold{
        font-weight: 700;
        font-size: 13px;
    }
    .footer-text-normal{
        font-size: 13px;
    }
    .footer-mid__right-group{
        width: 25px;
        height: 25px;
    }
    .footer-mid__right--item{
        width: 100%;
        height: 100%;
    }
    .social-wrapper{
        display: flex;
    }
    .footer-logo{
        width: 85px;
        height: 35px;
    }
    .footer__info-left{
        margin-bottom: 16px;
        text-align: center;
    }
    .footer-mid-info{
        display: flex;
        
    }
    .footer__info-mid{
        text-align: center;
    }
    .mid-info-col::after{
        content: ' |';
        margin-right: 3px;
    }
    .about-des{
        margin-top: 30px;
        font-size: 13px;
        line-height: 17px;
    }
    .about-title{
        font-size: 18px;
        line-height: 22px;
    }
    .play{
        display: flex;
    }
    .body-contact{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .contact-left,.contact-right{
        width: 100%;
        text-align: center;
    }
    .left-title{
        font-size: 18px;
    }
    .left-des{
        font-size: 13px;
    }
    .contact-right{
        margin-top: 16px;
        justify-content: center;
        padding: 0 216px;
    }
    .contact-group{
        width: 40px;
        height: 40px;
        margin-left: 0;
    }
    .contact-group--img{
        width: 100%;
        height: 100%;
    }
    .contact-group--text{
        font-size: 13px;
    }
    .contact-group:nth-child(2){
        margin: 0 32px;
    }
    .body-about,.body-play,.body-ntf,.body-sale,.body-roadmap{
        margin-top: 60px;
    }
    .image-title-about{
        width: 271px;
    }
    .about-first{
        flex-direction: column;
        text-align: center;
    }
    .fish{
        flex-direction: column-reverse;
    }
    .first-title{
        font-size: 18px;
    }
    .first-des{
        font-size: 13px;
    }
    .image-title-about{
        margin-top: 20px;
        width: 166px;
    }
    .first-right-second,.first-right{
        margin-right: 0;
        margin-left: 0;
    }
    .circle{
        width: 69px;
        height: 69px;
        margin-top: 12px;
        margin-left: 12px;
    }
    .image-circle-in{
        width: 27px;
        height: 27px;
    }
    .circle-title{
        font-size: 8px;
    }
    .number-one{
        width: 22px;
        height: 22px;
        font-size: 8px;
        top: 4px;
        right: -12px;
    }
    .circle-sg{
        width: 90px;
        height: 90px;
    }
    .ntf-des p{
        font-size: 13px;
        text-align: center;
    }
    .ntf-card{
        flex-wrap: wrap;
        
    }
    .ntf-card img{
        width: 148px;
        height: 210px;
        
    }
    .sale-des{
        text-align: center;
    }
    .sale-round{
        grid-template-columns: 175px;
        grid-gap: 0;
        justify-content: center;
    }
    .sale-time{
        font-size: 13px;
    }
    .th-font-w-5{
        font-size: 18px;
    }
    .promotion-time .time__group .time__group-number{
        width: 3rem;
        height: 3rem;
        font-size: 30px;
    }
    .promotion-time .time__group .time__group-type{
        font-size: 13px;
    }
    .sale-pack .pack__group{
        flex-direction: column;
    }
    .sale-pack .pack__group .pack__group-image{
        margin-right: 0;
        width: 85px;
        height: 105px;
    }
    .sale-pack .pack__group .pack__group-image img{
        width: 100%;
        height: 100%;
    }
    
    .sale-pack .pack__group .pack__group-info .pack__info-title{
        font-size: 15px;
        margin-top: 15px;
    }
    .sale-pack .pack__group .pack__group-info .pack__info-available{
        font-size: 11px;
    }
    .pack__info-tool,.pack__info-common,.pack__info-uncommon,.pack__info-rate,.pack__info-classic{
        font-size: 13px !important;
        margin-top: 8px !important;
    }
    .sale__market-button{
        padding: 8px 40px;
        font-size: 26px;
    }
    .img-user{
        width: 92px;
        height: 146px;
        margin-top: 50px;
    }
    .img-road{
        width: 135px;
        height: 100%;
        height: 300px;
    }
    .roadmap__current-des{
        top: 80px;
        left: 30px;
    }
    .roadmap-des .roadmap-current .roadmap__current-right .current__des-title{
        font-size: 16px;
        margin: 0;
    }
    .roadmap-des .roadmap-current .roadmap__current-right .current__des-des{
        font-size: 13px;
        margin: 0;
    }
    .coming-des{
        font-size: 13px !important;
    }
    .coming{
        right: 30px;
    }
    .pages-nav__group{
        position: fixed;
        top: 48px;
        left: 0;
        background-color: #33333371;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
        overflow: hidden;
    }
    .pages-nav__group--item{
        font-size:13px;
        padding: 8px 90px;
        line-height: 1.5rem;
    }
    .img-road-se{
        height: 400px;
    }
}
@media screen and (max-width:375px){
    .circle{
        margin-top:7px ;
        margin-left: 7px;
    }
    .circle-sg{
        width: 82px;
        height: 82px;
    }
} 




