.demo {
  position: relative;
  width: 100%;
  max-height: 510px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 #ebedf0;

  .box-demo {
    padding: 20px 20px 20px 20px;
    width: 100%;

    .percent {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        position: relative;
        width: 190px;
        height: 190px;
        z-index: 1;

        circle {
          width: 100%;
          height: 100%;
          fill: none;
          stroke: #afadad56;
          stroke-width: 25;
          stroke-linecap: round;
          transform: translate(15px, 15px);

          &:nth-child(2) {
            stroke-dasharray: 417;
            stroke-dashoffset: 458;
            stroke: #325ae7;
          }
        }
      }

      .number-demo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #325ae7;

        h2 {
          font-size: 1.6em;
        }
      }
    }

    .demo-title {
      margin-top: 15px;
      color: #000;
      font-weight: 500;
      margin-bottom: 0;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .demo-link {
      display: block;
      color: #325ae7;
      font-weight: 500;
      text-decoration: none;
      font-size: 12px;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
      }
    }

    .state-demo {
      display: inline-block;
      padding: 2px 8px;
      border-radius: 3px;
      background-color: #f6f7f9;
      font-size: 10px;
      font-weight: 700;
      margin-top: 5px;
      margin-bottom: 5px;
      text-align: center;
      color: #808292;
    }

    .demo-des {
      overflow: hidden;
      height: 60px;
      font-size: 14px;
      color: #808292;
      line-height: 1.4;
      font-weight: 400;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .demo-image-parties {
      height: 40px;
      display: flex;

      .demo-image {
        display: block;
        width: 30px;
        height: 30px;
        border: 2px solid #fff;
        border-radius: 50px;
        -o-object-fit: cover;
        object-fit: cover;

        &:nth-child(n + 2) {
          margin-left: -10px;
        }
      }
    }

    .demo-button-view {
      padding: 0 20px;
      border: 1px solid transparent;
      transition: color 100ms ease-in-out, background-color 100ms ease-in-out;
      font-weight: 500;
      text-align: center;
      letter-spacing: 1px;
      cursor: pointer;
      height: 30px;
      font-size: 12px;
      line-height: 28px;
      background-color: #5dd2c1;
      border-radius: 5px;
      color: #fff;
      &:hover {
        background-color: rgba(93, 210, 193, 0.788);
      }
    }
  }
}

.demo-2 {
  position: relative;
  width: 100%;
  height: 480px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 #ebedf0;

  .box-demo2 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    div {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      font-size: 10em;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #5dd2c1;
      border: 2px solid #5dd2c1;
    }

    h4 {
      margin-top: 40px;
      text-align: center;
      font-size: 22px;
      font-weight: 400;
    }
  }
}

.demo-archived {
  width: 100%;

  .box-demo-archived {
    .box-sort {
      text-align: right;
      position: relative;
      box-sizing: border-box;

      .typeSort {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        color: #808292;
        min-width: 80px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        position: relative;
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
        padding: 9px 30px;
        cursor: pointer;
        max-width: 100%;
        line-height: 1.4;

        &:nth-child(4) {
          border-right: 1px solid #ddd;
        }

        &:nth-child(1) {
          border-left: 1px solid #ddd;
        }

        &:hover {
          background-color: #c5c5c548;
          color: #456aeb;
          outline: none;
        }
      }

      .activeB {
        border-color: #5dd2c1 transparent #5dd2c1 #5dd2c1;
        background-color: #5dd2c1;
        color: #fff;

        &:hover {
          border-color: #5dd2c1 transparent #5dd2c1 #5dd2c1;
          background-color: #5dd2c1;
          color: #fff;
        }
      }

      @include media-breakpoint-down(sm) {
        border: 1px solid #e3e5e7b2;
        .typeSort {
          width: 100% !important;
          border-top: none !important;
          border-bottom: none !important;
          &:nth-child(4) {
            border-right: none !important;
          }

          &:nth-child(1) {
            border-left: none !important;
          }
        }
      }
    }

    .content {
      width: 100%;
      margin-top: 20px;
      position: relative;
      overflow: hidden;

      .tab1 {
        width: 100%;
        opacity: 1;
        position: relative;

        .cardArchived {
          position: relative;
          height: 100%;
          padding: 30px;
          border-radius: 3px;
          background-color: #fff;
          box-shadow: 0 1px 5px 0 #ebedf0;
          @include media-breakpoint-down(sm) {
            overflow-x: scroll;
          }
          .boxCard {
            overflow: auto;
            max-width: 100%;
            margin-right: 0;
            margin-left: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 12px;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            @include media-breakpoint-down(sm) {
              min-width: 700px;
              width: auto;
              max-width: unset;
            }

            .address {
              padding-right: 10px;
              padding-left: 0;
              width: 16.66666667%;
              position: relative;
              float: left;
              min-height: 1px;

              h6 {
                margin-top: 0;
                margin-bottom: 0;
                color: #1b1d2a;
                font-size: 14px;
                font-weight: 500;
              }
            }

            .people {
              position: relative;
              float: left;
              min-height: 1px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;

              .people-link {
                display: flex;
                min-width: 200px;
                -webkit-box-align: center;
                align-items: center;
                text-decoration: none;
                color: #325ae7;
                font-weight: 500;
                background: transparent;

                .people-image {
                  width: 50px;
                  height: 50px;
                  margin-right: 20px;
                  border-radius: 50px;
                  object-fit: cover;
                }

                .people-profile {
                  -webkit-box-flex: 0;
                  flex: 0 0 auto;

                  h6 {
                    margin-bottom: 0;
                    margin-top: 0;
                    color: #1b1d2a;
                    font-size: 14px;
                    font-weight: 500;
                  }
                }
              }
            }

            .state-archived {
              position: relative;
              float: left;
              min-height: 1px;

              .label-item {
                display: inline-block;
                padding: 2px 10px;
                border-style: solid;
                border-width: 1px;
                border-color: #ebedf0;
                border-radius: 4px;
                background-color: #f6f7f9;
                color: #808292;
                font-weight: 400;
              }
            }

            .time-archived {
              position: relative;
              float: left;
              min-height: 1px;

              .green {
                background-color: rgba(43, 177, 157, 0.26);
                color: #5dd2c1;
                display: inline-block;
                padding: 2px 8px;
                border-radius: 3px;
                font-size: 10px;
                font-weight: 700;
              }
            }

            .contact-archived {
              position: relative;
              float: left;
              min-height: 1px;

              .contact-action {
                display: flex;
                -webkit-box-pack: end;
                justify-content: flex-end;

                a {
                  display: inline-block;
                  width: 30px;
                  height: 30px;
                  margin-left: 5px;
                  border-radius: 3px;
                  background-color: #f6f7f9;
                  background-image: url('/static/images/New/new-inbox.png');
                  background-position: 50% 50%;
                  background-size: 16px;
                  background-repeat: no-repeat;
                  max-width: 100%;

                  &:nth-child(2) {
                    background-image: url('/static/images/New/new-mail.png');
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.new-box-transaction {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  grid-template-rows: auto;
  grid-gap: 30px;
  margin-left: 0;
  margin-right: 0;
  @include media-breakpoint-down(lg) {
    grid-template-columns: 48% 48%;
  }
  @include media-breakpoint-down(sm) {
    grid-template-columns: 100%;
  }
}

@media only screen and (max-width: 1450px) {
  .demo {
    width: 100%;
  }
}
