@import '../vendors/elite/variable';

.reset-password-page {
  margin: auto;
  height: 100vh;

  form {
    input {
      background-color: transparent;
      color: $primary !important;

      &:focus {
        background-color: transparent;
        color: $primary !important;
      }
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      -webkit-text-fill-color: $primary;
      transition: background-color 5000s ease-in-out 0s;
      color: $primary !important;
    }

    label {
      color: $primary !important;
    }
  }

  .reset-password-page_left {
    background-color: $blue-background;
    text-align: center;

    img {
      width: 100%;
      margin-top: 10%;
    }
  }

  .reset-password-page_right {
    background-color: $dark-background;
    padding-top: 5%;

    .reset-password-page_text {
      position: relative;
    }
  }
}
